.ConfirmationForm{
	margin-top: 2vh;
	max-width: 90vw;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;	
	overflow: hidden;
}

.ConfirmationHeader{
	text-align: center;
}

.ConfirmationRow{
	margin-bottom: 2vh;
	font-size: 1.1rem;
}

.LongLatRow{
   font-size: 0.8rem;
}

.messageWarning{
	display: flex;
	margin-top: -2vh;
	text-align: center;
}

.ConfirmButtonRow{
	display: flex;
	justify-content: center;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

