.LoggingForm {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.LoggingRow{
	text-align: center;
}
.logButtonRow{
	margin-top: 3vh;
	margin-bottom: 3vh;
}
.LoggingError{
	margin-top: 1rem;
	border: 1px solid;
	color: #D8000C;
	background-color: #FFBABA;
}