.NewDeviceForm {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.NewDeviceRow{
	text-align: center;
}
.buttonRow{
	margin-top: 3vh;
	margin-bottom: 3vh;
}

h3{
	color: grey;
	text-align: center;
}