.NewDeviceForm {
	margin-top: 3vh;
	display: flex;
	flex-direction: column;
}

.installateurRow{
	margin-bottom: 3vh;
}
.installateurRow, .dateRow{
	font-size: 1.1rem;
}
.NewDeviceHeader{
	text-align: center;
	margin-bottom: 2vh;
}
.localisationRow{
	display: flex;
	align-items: center;
}

form{
	max-width: 90vw;
	margin-right: auto;
	margin-left: auto;
}
.newButtonRow{
	margin-top: 3vh;
	display: flex;
	justify-content: center;
}

h3{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

