.SuccessPage {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
}

.SuccessHeader{
	text-align: center;
	margin-bottom: 10vh;
}


form{
	max-width: 90vw;
	margin-right: auto;
	margin-left: auto;
}
.successButtonRow{
	margin-top: 3vh;
	margin-bottom: 3vh;
}

